<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/themes/color.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/easyui/demo/demo.css">
        <script type="text/javascript" src="__PUBLIC__/dist/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/easyui/jquery.easyui.min.js"></script>
    </head>
<body>
    <table id="dg" class="easyui-datagrid" style="width:100%;height:100%;"
           url="{:U('Warehouse/getDataGrid')}"
           toolbar="#toolbar" pagination="true" fit="true" striped="true"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
        <tr>
            <th field="name" width="20">名称</th>
            <th field="abbreviation" width="30">缩写</th>
            <th field="unit" width="30">计量单位</th>
            <th field="quantity" width="20">数量</th>
            <th field="price" width="20">价格</th>
        </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newGood()">New
            Good</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editGoods()">Edit
            Goods</a>
    </div>

    <div id="dlg" class="easyui-dialog" style="width:400px"
         data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
        <form id="fm" method="post" novalidate style="margin:0;padding:20px 50px">
            <h3>User Information</h3>
            <div style="margin-bottom:10px">
                <input name="name" class="easyui-textbox" required="true" label="名称:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="abbreviation" class="easyui-textbox" required="true" label="缩写:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="unit" class="easyui-textbox" required="true" label="计量单位:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="price" class="easyui-textbox" required="true" label="价格:"
                       style="width:100%">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveGood()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
    </div>
    <script type="text/javascript">
        var url;
        function newGood() {
            $('#dlg').dialog('open').dialog('center').dialog('setTitle', 'New Good');
            $('#fm').form('clear');
            url = '{:U('Warehouse/addDataGrid')}';
        }
        function editGoods() {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('center').dialog('setTitle', 'Edit Goods');
                $('#fm').form('load', row);
                url = '{:U('Warehouse/editDataGrid')}?id=' + row.id;
            }
        }
        function saveGood() {
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    var result = eval('(' + result + ')');
                    if (result.errorMsg) {
                        $.messager.show({
                            title: 'Error',
                            msg: result.errorMsg
                        });
                    } else {
                        $('#dlg').dialog('close');		// close the dialog
                        $('#dg').datagrid('reload');	// reload the user data
                    }
                }
            });
        }
    </script>
</body>
</html>